PORT=3000
WORKER_URL=https://sadaweqwesa.kobula49.workers.dev
RELAY_TOKEN=aswuqi8ueq8awie8q21yu3q1wgh3y42qge3wy4hq2
WEBSHARE_USERNAME=unclrnap
WEBSHARE_PASSWORD=kn6zyl6aerri
WEBSHARE_HOST=31.58.9.4
WEBSHARE_PORT=6077